* {
  margin: 0;
}
nav {
  background-color: #10192c;
  letter-spacing: 2px;
}
.nav-container {
  margin-top: 30px;
}
.ul-nav {
  margin-right: 80px;
}
.ham-menu {
  color: #5ff3d1;
  transform: scale(1.7);
  &:focus {
    outline: none;
  }
}
.menu-button-custom {
  &:focus {
    outline: none;
  }
}
.nav-link {
  color: #c1cbeb;
  transition: color 0.3s;

  &:hover {
    color: #5ff3d1;
  }
}
.no-nav-item {
  color: #5ff3d1;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}
.nav-item {
  margin-left: 25px;

  padding: 2px;
}
.nav-items-ul {
  font-size: 0.8rem;
}
.resume-link {
  border: 1px solid #5ff3d1;
  border-radius: 3px;
  vertical-align: middle;
  padding: 8px;
  transition: all 0.2s;
  &:hover {
    background-color: #133040;
  }
}
@media only screen and (max-width: 990px) {
  .resume-link,
  .nav-item {
    text-align: center;
  }

  .nav-item {
    margin-top: 15px;
  }
}
