html {
  scroll-behavior: smooth;
}
body {
  background-color: #10192c;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
* {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0a192f;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5ff3d1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5ff3d1;
  border-radius: 10px;
}
@media screen and (min-width: 1000px) {
  .mobile-link-container {
    display: none;
  }
}
